.signin-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signin-label {
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
}

.input-username,
.input-password {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-username:focus,
.input-password:focus {
  border-color: #3BAB9B;
  outline: none;
}

.password-container {
  position: relative;
}

.anticon svg {
  display: inline-block;
}

.anticon > * {
  line-height: 1;
}

img, svg {
  vertical-align: middle;
}

.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signin-submit {
  width: 100% ;
  padding: 10px ;
  margin-top: 17px;
  background-color: #3BAB9B;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signin-submit:hover {
  background-color: #3BAB9B;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #3BAB9B;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
